  To Login:
<form action= "/process_login" method="post">
    Please enter your email address.
  <br> 
  <input type="text" name="user_email">
  <br> 
    Please enter a password
  <br> 
  <input type="text" name="user_password">
  <br> 
      <input type="submit">
</form>

or:
<form action="/create_user">
  <input type="Submit" value="Create NEW User">
  </form>
