<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Logout</title>
</head>

<body>
Logout?
 <br>
  <form action="/process_logout" method="post">
  <input type="Submit" value="LOGOUT">
  </form>
</body>
</html>