<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>My Application</title>
</head>

<body>
  To Delete current User:
  <br>
  <form action="/process_delete_user" method="post">
  <input type="Submit" value="DELETE USER">
  </form>

</body>
</html>