<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>My Application</title>
</head>

<body>
  <form action= "/process_edit_user" method="post">
    Please enter your new name
  <br>
  <input type="text" name="user_new_name">
  <br> 
    Please enter your new email address
  <br> 
  <input type="text" name="user_new_email">
  <br> 
    Please enter your new password
  <br> 
  <input type="text" name="user_new_password">
  <br> 
      <input type="submit">
  </form>
</body>
</html>