  <form action= "/process_edit_user" method="post">
    Name
  <br>
  <input type="text" name="user_new_name" value="<%=@user_name%>">
  <br> 
    Email
  <br> 
  <input type="text" name="user_new_email"value="<%=@user_email%>">
  <br> 
    Password
  <br> 
  <input type="text" name="user_new_password"value="<%=@user_password%>">
  <br> 
      <input type="submit" value="Update">
  </form>