All Users:

<table border="1" cellpadding="5" cellspacing="5">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
         <th>Password</th>
      </tr>
      <% @users.each do |n| %>   
      <tr>  
        <td><%= n.id %></td>
        <td><%= n.name %></td>
        <td><%= n.email %></td>
        <td><%= n.password %></td>
      </tr>
        <% end %>
      
    </table>
