Create To-Do:
<form action= "/process_create_todo" method="post">
    Title:
  <br> 
  <input type="text" name="todo_title">
  <br> 
    Description:
  <br> 
  <input type="text" name="todo_description" width="300">
  <br> 
      <input type="submit">
</form>