Delete To-Do
<form action= "/process_delete_todo/<%= @todo.id %>" method="post">
<select name="todo_delete_id">
      <option>Select a To-Do...</option>
      <% @todos.each do |t| %>
      <option value = "<%= t.id %>"#<%= t.id %> -> <%=t.title%></option>
      <% end %>
      </select>
      <input type="submit">
      </form>