Edit To-Do:
<form action= "/process_edit_todo" method="post">
    Title of To-Do you want to edit:
  <br> 
  <input type="text" name="todo_title">
  <br> 
    New Description:
  <br> 
  <input type="text" name="todo_description" width="300">
  <br> 
      <input type="submit">
</form>