To-Do List Application
<p>
  <a href = "/login">
    Login
  </a>
</p>
<p>
  <a href = "/create_user">
    Create User
  </a>
</p>
<p>
  <a href = "/edit_user">
    Edit User
  </a>
</p>
<p>
  <a href = "/see_all_users">
    View all Users
  </a>
</p>
<p>
  <a href = "/delete_user">
    Delete User
  </a>
</p>
<p>
  <a href = "/create_todo">
    Create To-Do
  </a>
</p>
<p>
  <a href = "/edit_todo">
    Edit To-Do
  </a>
</p>
<p>
  <a href = "/see_all_todos">
    View all To-Dos
  </a>
</p>
<p>
  <a href = "/delete_todo">
    Delete To-Do
  </a>
</p>
