<center>
SPECIFIC ERROR<br>
<img src="http://b.fastcompany.net/multisite_files/fastcompany/imagecache/inline-large/inline/2015/12/3054981-inline-i-1-1-these-are-the-bill-nye-reaction-gifs-you-didnt-know-you-needed.gif"><br>
<% @errors.each do |e| %>
  <p><%= e %></p> 
  <% end %>
  </center>

  